/* For Small Devices */
@media screen and (max-width: 600px) {

    /* Common CSS */
    .container {
        width: 97.5%;
    }

    .title {
        font-size: 2.1rem;
    }

    .sub_title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }


    /* Header Starts */
    #header {
        height: auto;
        width: 100%;
        padding: 2rem 2.5rem;
    }

    /* Navigation Section */
    .navigation_brand {
        width: auto;
        align-items: center;
        gap: 1rem;
    }

    .navigation_menu {
        display: none;
    }

    .hamburger_menu {
        display: flex;
    }


}
/* For Small Devices */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* Common CSS */
    .container {
        width: 97.5%;
    }

    .title {
        font-size: 2.1rem;
    }

    .sub_title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }


    /* Header Starts */
    #header {
        height: auto;
        width: 100%;
        padding: 2rem 2.5rem;
    }

    /* Navigation Section */
    .navigation_brand {
        width: auto;
        align-items: center;
        gap: 1rem;
    }

    .navigation_menu {
        display: none;
    }

    .hamburger_menu {
        display: flex;
    }


}