/* For Small Devices */
@media screen and (max-width: 600px) {

    /* Common CSS */
    .container {
        width: 97.5%;
    }

    .title {
        font-size: 2.1rem;
    }

    .sub_title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }


    /* Header Starts */
    #header {
        height: auto;
        width: 92.5%;
        margin: auto;
        padding: 2rem 0 2.5rem;
    }

    /* Navigation Section */
    #navigation {
        margin-bottom: 1.7rem;
    }

    .navigation_brand {
        width: auto;
        align-items: center;
        gap: 1rem;
    }

    .navigation_menu {
        display: none;
    }

    .hamburger_menu {
        display: flex;
    }

    /* Banner Section */
    #banner {
        padding: 3rem 0;
    }

    .banner_title {
        font-size: 2.3rem;
    }

    .banner_description {
        width: 85%;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin: 1rem auto 3rem;
        padding: 0;
    }

    .banner_options {
        width: 90%;
        flex-direction: column;
    }


    /* Main Starts */
    #main {
        width: 92.5%;
        margin: 0 auto 2rem;
    }

    /* Popular Section */
    .popular_container {
        flex-direction: column;
        gap: 2.5rem;
    }

    .popular_info {
        width: 100%;
        gap: 2.4rem;
    }

    .popular_content {
        gap: 1.6rem;
    }

    .popular_pahar {
        width: 100%;
    }


    /* Destination Section */
    #destination {
        margin: 2.5rem 0;
    }

    #destination>p {
        margin: 1.4rem auto 1.6rem;
        width: 80%;
    }

    .destination_container,
    .first_destination_row,
    .second_destination_row,
    .third_destination_row {
        display: flex;
        flex-direction: column;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north_america,
    .kashmir,
    .bangladesh,
    .bandarban {
        height: 30rem;
    }

    /* Choose Section */
    #choose>p {
        margin: 1.4rem auto 1.6rem;
        width: 80%;
    }

    .first_choose_card_row {
        flex-direction: column;
        gap: 2rem;
    }

    .second_choose_card_row {
        margin-top: 2rem;
    }

    .second_choose_card_row>.choose_card {
        width: 100%;
        margin: auto;
    }

    /* Plan Section */
    #plan {
        margin: 5rem 0;
        padding: 3rem 2rem;
    }

    #plan>p {
        width: 100%;
        margin: 2rem auto;
    }

    .plan_cards_container {
        flex-direction: column;
    }

    .plan_card_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    /* Discount Section */
    #discount>p {
        margin: 1.6rem auto;
        width: 92.5%;
    }

    .deal {
        background-position: bottom center;
        padding: 1.6rem;
    }

    .deal_content {
        width: 100%;
        padding: 2.5rem;
    }

    .deal_short_info {
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .deal_short_info>p>i {
        margin-right: .6rem;
    }

    .deal_detailed_info>h3 {
        margin-bottom: .6rem;
    }

    .deal_detailed_info>p {
        margin-bottom: 1rem;
    }

    .deal_price {
        margin-bottom: 1.6rem;
    }

    .discount_btn {
        margin-top: 2rem;
    }

    /* Perfect Section */
    #perfect {
        margin: 2.4rem 0;
    }

    .perfect_container {
        flex-direction: column;
        gap: 1.6rem;
    }

    .perfect_content {
        width: 100%;
        margin: 0;
    }

    .perfect_content>h2 {
        margin-bottom: 1.6rem;
        line-height: 3rem;
    }

    .perfect_content>p {
        margin: 1.6rem 0;
    }

    .perfect_content>ul {
        margin-left: 1.75rem;
        margin-bottom: 2.4rem;
    }

    .perfect_video {
        width: 100%;
    }

    /* Newsletter Section */
    .newsletter_container {
        flex-direction: column;
    }

    .newsletter_content {
        width: 100%;
    }

    .newsletter_img {
        width: 100%;
        height: 40rem;
    }

    .newsletter_img>.tag {
        padding: 1.5rem 3rem;
        transform: rotate(-19.628deg);
        position: absolute;
    }


    /* Footer Starts */
    #footer {
        padding: 3rem 0;
    }

    .footer_container {
        width: 80%;
    }

    .footer_container>p {
        margin: 1.6rem;
    }

    .footer_container>hr {
        width: 100%;
        margin: 1.6rem 0 0;
    }


}

/* For Large Devices */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* Common CSS */
    .container {
        width: 80%;
    }

    .title {
        font-size: 2.1rem;
    }

    .sub_title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }


    /* Header Starts */
    #header {
        height: auto;
        width: 92.5%;
        margin: auto;
        padding: 2rem 0 2.5rem;
    }

    /* Navigation Section */
    #navigation {
        margin-bottom: 2.5rem;
    }

    .navigation_brand {
        width: auto;
        align-items: center;
        gap: 1rem;
    }

    .navigation_menu {
        display: none;
    }

    .hamburger_menu {
        display: flex;
    }

    /* Banner Section */
    #banner {
        padding: 5rem 0;
    }

    .banner_title {
        font-size: 6.4rem;
    }

    .banner_description {
        width: 85%;
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin: 1rem auto 3rem;
        padding: 0 5rem;
    }

    .banner_options {
        width: 60%;
        flex-direction: column;
    }


    /* Main Starts */
    #main {
        width: 92.5%;
        margin: 2rem auto;
    }

    /* Popular Section */
    .popular_container {
        gap: 2.5rem;
    }

    .popular_info {
        width: 100%;
        gap: 2.4rem;
    }

    .popular_content {
        gap: 1.6rem;
    }

    .popular_pahar {
        width: 100%;
        margin: auto;
    }

    /* Destination Section */
    #destination {
        margin: 4rem 0;
    }

    #destination>p {
        margin: 1.4rem auto 2rem;
        width: 80%;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north_america,
    .kashmir,
    .bangladesh,
    .bandarban {
        height: 20rem;
    }

    /* Choose Section */
    #choose {
        margin: 4rem 0;
    }

    #choose>p {
        margin: 1.4rem auto 2rem;
        width: 80%;
    }

    /* Plan Section */
    #plan {
        margin: 5rem 0;
        padding: 3rem 2rem;
    }

    #plan>p {
        width: 65%;
        margin: 2rem auto;
    }

    .plan_card_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    /* Discount Section */
    .deal_content {
        width: 70%;
        padding: 3.5rem;
    }

    .discount_btn {
        margin-top: 3rem;
    }

    /* Perfect Section */
    #perfect {
        margin: 5rem 0;
    }

    .perfect_content>h2 {
        margin-bottom: 1.6rem;
        line-height: 3rem;
    }

    .perfect_content>p {
        margin: 1.6rem 0;
    }

    .perfect_content>ul {
        margin-left: 1.75rem;
        margin-bottom: 2.4rem;
    }

    .perfect_video {
        display: flex;
        align-items: center;
    }


    /* Footer Starts */
    #footer {
        padding: 3rem 0;
    }

    /* .footer_container {
        width: 80%;
    } */

    .footer_container>p {
        margin: 1.6rem;
    }

    .footer_container>hr {
        margin: 2rem 0 0;
    }

}