/* Google Fonts */
/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* Variable Declaration */
:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --common-color: #5A5A5D;
}

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 80%;
    margin: auto;
}

.title,
.sub_title {
    color: var(--secondary-color);
    font-style: 400;
    font-weight: 800;
}

.title {
    font-size: 4rem;
}

.sub_title {
    font-size: 2.4rem;
}

.description {
    color: var(--common-color);
    font-size: 1.6rem;
    font-style: 400;
    font-weight: 400;
    line-height: 2.6rem;
}



/* Header Starts */
#header {
    width: 100%;
    padding: 5rem 0 10rem;
}


/* Navigation Section */
#navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.navigation_brand {
    width: 50%;
    display: flex;
    gap: 1.7rem;
}

.navigation_brand>h2>span {
    color: var(--primary-color);
}

.navigation_menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_menu>li {
    list-style: none;
}

.navigation_menu>li:first-child>a {
    color: var(--primary-color);
    font-weight: 700;
}

.navigation_menu>li>a {
    color: var(--common-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-style: 400;
    font-weight: 500;
}

.hamburger_menu {
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger_menu>i {
    font-size: 2.4rem;
}


/* Banner Section */
#banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/header-bgc.png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11rem 0;
    border-radius: 1.6rem;
}

.banner_title,
.banner_description {
    color: #FFF;
    text-align: center;
    font-style: 400;
    font-weight: 400;
}

.banner_title {
    font-size: 6.4rem;
    font-weight: 800;
}

.banner_description {
    width: 85%;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 2.4rem auto 4.8rem;
    padding: 0 25rem;
}

.banner_options {
    background-color: #ffffff57;
    border-radius: 0.8rem;
    padding: 1.6rem;
    display: flex;
    gap: 2.5rem;
    width: 60%;
    margin: auto;
}

.banner_options>.option,
.banner_options>button {
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-style: 400;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    flex: 1;
    border: 0;
}

.banner_options>.option {
    background-color: #fff;
    justify-content: space-between;
}

.banner_options>button {
    background-color: var(--primary-color);
    justify-content: center;
    gap: 1rem;
    color: #FFF;
}

.banner_options>.option>p {
    color: var(--common-color);
    font-weight: 400;
}

.banner_options>.option>i {
    color: var(--common-color);
}

.banner_options>.option>i,
.banner_options button>i {
    font-size: 2rem;
}


/* Main Starts */
#main {
    margin-bottom: 10rem;
}


/* Popular Section */
#popular {}

.popular_container {
    display: flex;
    gap: 5.5rem;
}

.popular_info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3.2rem;
}

.popular_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.popular_content>h2 {}

.popular_content p {
    line-height: 2.6rem;
}

.popular_content>ul {
    margin-left: 1.5rem;
}

.popular_content>ul>li {}

.popular_btn {}

.popular_btn>button {
    background-color: var(--primary-color);
    padding: 1.5rem 3.5rem;
    border: 0;
    border-radius: .8rem;
}

.popular_btn>button>a {
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
    font-style: 400;
    font-weight: 800;
}

.popular_pahar {
    width: 50%;
}

.popular_pahar>img {
    width: 100%;
}



/* Footer Starts */
#footer {}