/* Google Fonts */
/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* Variable Declaration */
:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --common-color: #5A5A5D;
}

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 80%;
    margin: auto;
}

.title,
.sub_title {
    color: var(--secondary-color);
    font-style: 400;
    font-weight: 800;
}

.title {
    font-size: 4rem;
}

.sub_title {
    font-size: 2.4rem;
}

.description {
    color: var(--common-color);
    font-size: 1.6rem;
    font-style: 400;
    font-weight: 400;
    line-height: 2.6rem;
}



/* Header Starts */
#header {
    width: 100%;
    padding: 5rem 0 10rem;
}


/* Navigation Section */
#navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.navigation_brand {
    width: 50%;
    display: flex;
    gap: 1.7rem;
}

.navigation_brand>h2>span {
    color: var(--primary-color);
}

.navigation_menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_menu>li {
    list-style: none;
}

.navigation_menu>li:first-child>a {
    color: var(--primary-color);
    font-weight: 700;
}

.navigation_menu>li>a {
    color: var(--common-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-style: 400;
    font-weight: 500;
}

.hamburger_menu {
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger_menu>i {
    font-size: 2.4rem;
}


/* Banner Section */
#banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/header-bgc.png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11rem 0;
    border-radius: 1.6rem;
}

.banner_title,
.banner_description {
    color: #FFF;
    text-align: center;
    font-style: 400;
    font-weight: 400;
}

.banner_title {
    font-size: 6.4rem;
    font-weight: 800;
}

.banner_description {
    width: 85%;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 2.4rem auto 4.8rem;
    padding: 0 25rem;
}

.banner_options {
    background-color: #ffffff57;
    border-radius: 0.8rem;
    padding: 1.6rem;
    display: flex;
    gap: 2.5rem;
    width: 60%;
    margin: auto;
}

.banner_options>.option,
.banner_options>button {
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-style: 400;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    flex: 1;
    border: 0;
}

.banner_options>.option {
    background-color: #fff;
    justify-content: space-between;
}

.banner_options>button {
    background-color: var(--primary-color);
    justify-content: center;
    gap: 1rem;
    color: #FFF;
}

.banner_options>.option>p {
    color: var(--common-color);
    font-weight: 400;
}

.banner_options>.option>i {
    color: var(--common-color);
}

.banner_options>.option>i,
.banner_options button>i {
    font-size: 2rem;
}


/* Main Starts */
#main {
    margin-bottom: 10rem;
}


/* Popular Section */
.popular_container {
    display: flex;
    gap: 5.5rem;
}

.popular_info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3.2rem;
}

.popular_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.popular_content p {
    line-height: 2.6rem;
}

.popular_content>ul {
    margin-left: 1.5rem;
}

.popular_btn>button {
    background-color: var(--primary-color);
    padding: 1.5rem 3.5rem;
    border: 0;
    border-radius: .8rem;
}

.popular_btn>button>a {
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
    font-style: 400;
    font-weight: 800;
}

.popular_pahar {
    width: 50%;
}

.popular_pahar>img {
    width: 100%;
}


/* Destination Section */
#destination {
    margin: 10rem 0;
}

#destination>h2 {
    text-align: center;
}

#destination>p {
    margin: 2.4rem auto 5rem;
    width: 42.5%;
    text-align: center;
}

.destination_container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2.4rem;
}

.first_destination_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.maldives {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/maldives.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indonesia {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/indonesia.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_destination_row {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    gap: 2.4rem;
}

.srilanka {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/srilanka.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.north_america {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/north-america.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kashmir {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/kashmir.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third_destination_row {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 2.4rem;
}

.bangladesh {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/bangladesh.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandarban {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/bandarban.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_name {
    color: #FFF;
    font-size: 2.8rem;
    font-style: 400;
    font-weight: 800;
}


/* Choose Section */
#choose>h2 {
    text-align: center;
}

#choose>p {
    margin: 2.4rem auto 5rem;
    width: 42.5%;
    text-align: center;
}

.first_choose_card_row {
    display: flex;
    gap: 2.4rem;
}

.first_choose_card_row>.choose_card {
    border-radius: 1.6rem;
    padding: 3.2rem;
}

.first_choose_card_row>.choose_card:nth-child(1) {
    border: .1rem solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.first_choose_card_row>.choose_card:nth-child(2) {
    border: .1rem solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose_card>h3 {
    color: var(--secondary-color);
    font-size: 2.4rem;
    font-style: 400;
    font-weight: 800;
    margin: 3.2rem 0 1.6rem;
}

.choose_card>p {
    color: var(--common-color);
    font-size: 1.6rem;
    font-style: 400;
    font-weight: 400;
    line-height: 2.6rem;
}

.second_choose_card_row {
    margin-top: 2.4rem;
}

.second_choose_card_row>.choose_card {
    width: 50%;
    margin: auto;
    border-radius: 1.6rem;
    border: .1rem solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 3.2rem;
}



/* Footer Starts */
#footer {}